<div class="container-fluid d-flex justify-content-center">
  {{!-- {{#if posts.length}}
    {{#each posts as |post|}} --}}
  <div class="col-7">
    {{!-- {{> post-details}} --}}
    <div class="post">
      <a href="href=/post/{{this.id}}">
        <div class="post-card">
          <div class="post-header">
            <h3 class="post-title">TEST TITLE</h3>
            <p class="post-details">
              Posted by : CHAWNK on 2021-03-02T15:00:00.000Z
            </p>
          </div>
          <div class="post-body">
            <p class="post-content">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Fuga magnam cumque ullam earum id debitis
              deleniti praesentium, culpa quo possimus, reprehenderit aliquam
              distinctio nostrum aperiam nisi libero deserunt dolore officiis?
              Ratione quos sed numquam ab ad et porro modi cupiditate
              blanditiis, doloremque nostrum saepe asperiores veniam quidem.
              Exercitationem animi explicabo soluta corrupti odit esse, harum
              dolorum aperiam, possimus, modi necessitatibus? Aliquam rem
              obcaecati aspernatur porro fugiat? Officia eligendi autem beatae,
              eius incidunt nostrum eveniet consequuntur tempore dicta aliquid
              ut maiores. Quibusdam exercitationem eum minus corrupti. Quas
              pariatur aut qui adipisci? Dolorem et recusandae animi sequi ipsum
              hic aspernatur necessitatibus pariatur totam unde! Veniam
              explicabo deleniti ut eaque aliquid impedit facere maiores et
              adipisci in! Atque accusantium quos ex vel ea? Ipsa provident fuga
              maxime tempora esse quas repudiandae vel incidunt iste totam, quis
              voluptates. Ducimus quaerat qui ea temporibus, aut animi dolorum?
              Odit aperiam nostrum ipsum explicabo hic eos culpa.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="post">
      <a href="href=/post/{{this.id}}">
        <div class="post-card">
          <div class="post-header">
            <h3 class="post-title">TEST TITLE</h3>
            <p class="post-details">
              Posted by: CHAWNK on 2021-03-02T15:00:00.000Z
            </p>
          </div>
          <div class="post-body">
            <p class="post-content">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Fuga magnam cumque ullam earum id debitis
              deleniti praesentium, culpa quo possimus, reprehenderit aliquam
              distinctio nostrum aperiam nisi libero deserunt dolore officiis?
              Ratione quos sed numquam ab ad et porro modi cupiditate
              blanditiis, doloremque nostrum saepe asperiores veniam quidem.
              Exercitationem animi explicabo soluta corrupti odit esse, harum
              dolorum aperiam, possimus, modi necessitatibus? Aliquam rem
              obcaecati aspernatur porro fugiat? Officia eligendi autem beatae,
              eius incidunt nostrum eveniet consequuntur tempore dicta aliquid
              ut maiores. Quibusdam exercitationem eum minus corrupti. Quas
              pariatur aut qui adipisci? Dolorem et recusandae animi sequi ipsum
              hic aspernatur necessitatibus pariatur totam unde! Veniam
              explicabo deleniti ut eaque aliquid impedit facere maiores et
              adipisci in! Atque accusantium quos ex vel ea? Ipsa provident fuga
              maxime tempora esse quas repudiandae vel incidunt iste totam, quis
              voluptates. Ducimus quaerat qui ea temporibus, aut animi dolorum?
              Odit aperiam nostrum ipsum explicabo hic eos culpa.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="post">
      <a href="href=/post/{{this.id}}">
        <div class="post-card">
          <div class="post-header">
            <h3 class="post-title">TEST TITLE</h3>
            <p class="post-details">
              Posted by: CHAWNK on 2021-03-02T15:00:00.000Z
            </p>
          </div>
          <div class="post-body">
            <p class="post-content">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Fuga magnam cumque ullam earum id debitis
              deleniti praesentium, culpa quo possimus, reprehenderit aliquam
              distinctio nostrum aperiam nisi libero deserunt dolore officiis?
              Ratione quos sed numquam ab ad et porro modi cupiditate
              blanditiis, doloremque nostrum saepe asperiores veniam quidem.
              Exercitationem animi explicabo soluta corrupti odit esse, harum
              dolorum aperiam, possimus, modi necessitatibus? Aliquam rem
              obcaecati aspernatur porro fugiat? Officia eligendi autem beatae,
              eius incidunt nostrum eveniet consequuntur tempore dicta aliquid
              ut maiores. Quibusdam exercitationem eum minus corrupti. Quas
              pariatur aut qui adipisci? Dolorem et recusandae animi sequi ipsum
              hic aspernatur necessitatibus pariatur totam unde! Veniam
              explicabo deleniti ut eaque aliquid impedit facere maiores et
              adipisci in! Atque accusantium quos ex vel ea? Ipsa provident fuga
              maxime tempora esse quas repudiandae vel incidunt iste totam, quis
              voluptates. Ducimus quaerat qui ea temporibus, aut animi dolorum?
              Odit aperiam nostrum ipsum explicabo hic eos culpa.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="post">
      <a href="href=/post/{{this.id}}">
        <div class="post-card">
          <div class="post-header">
            <h3 class="post-title">TEST TITLE</h3>
            <p class="post-details">
              Posted by: CHAWNK on 2021-03-02T15:00:00.000Z
            </p>
          </div>
          <div class="post-body">
            <p class="post-content">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Fuga magnam cumque ullam earum id debitis
              deleniti praesentium, culpa quo possimus, reprehenderit aliquam
              distinctio nostrum aperiam nisi libero deserunt dolore officiis?
              Ratione quos sed numquam ab ad et porro modi cupiditate
              blanditiis, doloremque nostrum saepe asperiores veniam quidem.
              Exercitationem animi explicabo soluta corrupti odit esse, harum
              dolorum aperiam, possimus, modi necessitatibus? Aliquam rem
              obcaecati aspernatur porro fugiat? Officia eligendi autem beatae,
              eius incidunt nostrum eveniet consequuntur tempore dicta aliquid
              ut maiores. Quibusdam exercitationem eum minus corrupti. Quas
              pariatur aut qui adipisci? Dolorem et recusandae animi sequi ipsum
              hic aspernatur necessitatibus pariatur totam unde! Veniam
              explicabo deleniti ut eaque aliquid impedit facere maiores et
              adipisci in! Atque accusantium quos ex vel ea? Ipsa provident fuga
              maxime tempora esse quas repudiandae vel incidunt iste totam, quis
              voluptates. Ducimus quaerat qui ea temporibus, aut animi dolorum?
              Odit aperiam nostrum ipsum explicabo hic eos culpa.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="post">
      <a href="href=/post/{{this.id}}">
        <div class="post-card">
          <div class="post-header">
            <h3 class="post-title">TEST TITLE</h3>
            <p class="post-details">
              Posted by: CHAWNK on 2021-03-02T15:00:00.000Z
            </p>
          </div>
          <div class="post-body">
            <p class="post-content">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Fuga magnam cumque ullam earum id debitis
              deleniti praesentium, culpa quo possimus, reprehenderit aliquam
              distinctio nostrum aperiam nisi libero deserunt dolore officiis?
              Ratione quos sed numquam ab ad et porro modi cupiditate
              blanditiis, doloremque nostrum saepe asperiores veniam quidem.
              Exercitationem animi explicabo soluta corrupti odit esse, harum
              dolorum aperiam, possimus, modi necessitatibus? Aliquam rem
              obcaecati aspernatur porro fugiat? Officia eligendi autem beatae,
              eius incidunt nostrum eveniet consequuntur tempore dicta aliquid
              ut maiores. Quibusdam exercitationem eum minus corrupti. Quas
              pariatur aut qui adipisci? Dolorem et recusandae animi sequi ipsum
              hic aspernatur necessitatibus pariatur totam unde! Veniam
              explicabo deleniti ut eaque aliquid impedit facere maiores et
              adipisci in! Atque accusantium quos ex vel ea? Ipsa provident fuga
              maxime tempora esse quas repudiandae vel incidunt iste totam, quis
              voluptates. Ducimus quaerat qui ea temporibus, aut animi dolorum?
              Odit aperiam nostrum ipsum explicabo hic eos culpa.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="post">
      <a href="href=/post/{{this.id}}">
        <div class="post-card">
          <div class="post-header">
            <h3 class="post-title">TEST TITLE</h3>
            <p class="post-details">
              Posted by: CHAWNK on 2021-03-02T15:00:00.000Z
            </p>
          </div>
          <div class="post-body">
            <p class="post-content">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Fuga magnam cumque ullam earum id debitis
              deleniti praesentium, culpa quo possimus, reprehenderit aliquam
              distinctio nostrum aperiam nisi libero deserunt dolore officiis?
              Ratione quos sed numquam ab ad et porro modi cupiditate
              blanditiis, doloremque nostrum saepe asperiores veniam quidem.
              Exercitationem animi explicabo soluta corrupti odit esse, harum
              dolorum aperiam, possimus, modi necessitatibus? Aliquam rem
              obcaecati aspernatur porro fugiat? Officia eligendi autem beatae,
              eius incidunt nostrum eveniet consequuntur tempore dicta aliquid
              ut maiores. Quibusdam exercitationem eum minus corrupti. Quas
              pariatur aut qui adipisci? Dolorem et recusandae animi sequi ipsum
              hic aspernatur necessitatibus pariatur totam unde! Veniam
              explicabo deleniti ut eaque aliquid impedit facere maiores et
              adipisci in! Atque accusantium quos ex vel ea? Ipsa provident fuga
              maxime tempora esse quas repudiandae vel incidunt iste totam, quis
              voluptates. Ducimus quaerat qui ea temporibus, aut animi dolorum?
              Odit aperiam nostrum ipsum explicabo hic eos culpa.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  {{!-- {{/each}}
  {{else}}
    <div class="text-center mt-5">
      <h2 class="pt-5">No posts yet...</h2>
    </div>
  {{/if}} --}}
</div>